@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@charset "UTF-8";
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700");
@import url("animate.css");
//@import url("structure.css");
@import url("form.css");

/*
	Strongly Typed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

	@import "libs/skel";

	@include skel-breakpoints((
		desktop: '(min-width: 900px)',
		tablet: '(min-width: 900px) and (max-width: 1200px)',
		mobile: '(max-width: 900px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		grid: true,
		conditionals: true,
		containers: true,
		breakpoints: (
			desktop: (
				containers: 1200px,
				grid: (
					gutters: (50px, 50px)
				),
			),
			tablet: (
				containers: 960px,
				grid: (
					gutters: (30px, 30px)
				),
			),
			mobile: (
				containers: (100%, true),
				grid: (
					gutters: (20px, 20px)
				),
			)
		)
	));

/* Basic */

	body {
		background: #fff;
		font-family: 'adobe-caslon-pro';
		color: #777;

		&.is-loading * {
			@include vendor('transition', 'none !important');
			@include vendor('animation', 'none !important');
		}
	}

	input, textarea, select {
		font-family: 'Source Sans Pro';
		font-weight: 300;
		color: #777;
	}

	h1, h2, h3, h4, h5, h6 {
        font-family: 'adobe-caslon-pro';
		color: #334354;
        letter-spacing: 0px;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
		border: 0;
	}

	a {
		@include vendor('transition', ('color 0.25s ease-in-out', 'border-bottom-color 0.25s ease-in-out'));
		color: #666;
		text-decoration: none;


		strong {
			@include vendor('transition', ('color 0.25s ease-in-out', 'border-bottom-color 0.25s ease-in-out'));
		}

		&:hover {
			color: #ed786a;
			border-bottom-color: rgba(255, 255, 255, 0);

			strong {
				color: #ed786a;
			}
		}
	}

	strong, b {
		font-weight: 600;
		color: #666;
	}

	em, i {
		font-style: italic;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px #ddd;
	}

	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p {

		margin-bottom: 2em;
	}

	ul, ol, dl, table, blockquote {
		margin-bottom: 2em;
	}

	br.clear {
		clear: both;
	}

/* Sections/Article */

	section, article {
		margin-bottom: 3em;
	}

	section > :last-child,
	article > :last-child,
	section:last-child,
	article:last-child {
		margin-bottom: 0;
	}

/* Image */

	.image {
		@include vendor('transition', 'opacity 0.25s ease-in-out');
		display: inline-block;


		&:hover {
			opacity: 0.9;
		}

		img {
			display: block;
			width: 100%;
            border: 1px #b5b4b4 solid;
		}

		&.fit {
			display: block;
			width: 100%;
		}

		&.featured {
			display: block;
			width: 100%;
			margin: 0 0 3.5em 0;
		}

		&.left {
			float: left;
			margin: 0 1.5em 1.5em 0;
			position: relative;
			top: 0.5em;
		}

		&.centered {
			display: block;
			margin: 0 0 2em 0;

			img {
				margin: 0 auto;
				width: auto;
			}
		}
	}

/* List */

	ul {
		&.default {
			list-style: disc;
			margin-left: 1em;

			li {
				padding-left: 0.5em;
				margin: 0.75em 0 0.75em 0;

				&:first-child {
					margin-top: 0;
				}
			}
		}

		&.links {
			list-style: decimal;
			margin-left: 1em;

			li {
				display: inline;
				padding-left: 1em;
				margin-left: 1em;

				&:first-child {
					margin-left: 0;
					padding-left: 0;
				}
			}
		}

		&.actions {
			margin-top: 2.5em;
			clear: both;
            text-align: center;
		}

		&.divided {
			li {
				border-top: solid 2px #e5e5e5;

				&:first-child {
					border-top: 0;
					margin-top: 0;
					padding-top: 0;
				}
			}
		}

		&.icons {
			> li {
				position: relative;
				padding: 2em 0 0 3em;

				&:before {
					position: absolute;
					left: 0;
					top: 2em;
					display: block;
					background: #878787;
					color: #e4e4e4;
					width: 1.65em;
					height: 1.65em;
					border-radius: 1.65em;
					line-height: 1.65em;
					text-align: center;
					box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
				}

				&:first-child {
					padding-top: 0;

					&:before {
						top: 0;
					}
				}
			}
		}
	}

	ol {
		&.default {
			list-style: decimal;
			margin-left: 1em;

			li {
				padding-left: 0.5em;
				margin: 0.75em 0 0.75em 0;

				&:first-child {
					margin-top: 0;
				}
			}
		}
	}

/* Form */

	form {
		label {
			font-weight: 600;
			text-transform: uppercase;
			color: #888;
			display: block;
			margin: 0 0 1em 0;
		}

		input[type="text"],
		input[type="email"]
		input[type="password"],
		select,
		textarea, #Field4 {
			@include vendor('transition', 'background-color 0.25s ease-in-out');
			-webkit-appearance: none;
			display: block;
			border: 0;
			background: #e8e8e8;
			width: 100%;
			box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
			border-radius: 4px;
			line-height: 1.25em;
			padding: 0.75em 1em 0.75em 1em;

			&:focus {
				background: #f0f0f0;
			}
		}

		textarea {
			min-height: 11em;
		}

		.formerize-placeholder {
			color: #555 !important;
		}

		::-webkit-input-placeholder {
			color: #555 !important;
			line-height: 1.35em;
		}

		:-moz-placeholder {
			color: #555 !important;
		}

		::-moz-placeholder {
			color: #555 !important;
		}

		:-ms-input-placeholder {
			color: #555 !important;
		}

		::-moz-focus-inner {
			border: 0;
		}
	}

/* Table */

	table {
		width: 100%;

		&.default {
			width: 100%;

			tbody {
				tr {
					border-top: solid 1px #E5E5E5;

					&:first-child {
						border-top: 0;
					}
				}
			}

			td {
				padding: 0.75em 1em 0.75em 1em;
			}

			th {
				text-align: left;
				font-weight: bold;
				padding: 0.75em 1em 0.75em 1em;
			}

			thead {
				background: #878787;
				color: #fff;
				font-weight: 400;
				text-transform: uppercase;
				border: 0;
				box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
			}

			tfoot {
				background: #F0F0F0;
				border-top: solid 2px #E5E5E5;
			}
		}
	}

/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		@include vendor('transition', 'all 0.25s ease-in-out');
		-webkit-appearance: none;
		position: relative;
		display: inline-block;
		background: #ed786a;
		color: #fff !important;
		text-transform: uppercase;
		border-radius: 4px;
		border: 0;
		outline: 0;
		font-size: 1em;
		box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
		font-weight: 600;
		text-align: center;

		&.icon {
			&:before {
				position: relative;
				padding-right: 0.75em;
				opacity: 0.5;
				top: 0.05em;
			}
		}

		&:hover {
			background: #fd887a;
		}

		&:active {
			background: #ed786a;
		}

		&.alt {
			background: #878787;

			&:hover {
				background: #979797;
			}

			&:active {
				background: #878787;
			}
		}
	}

/* Box */

	.box {
		.excerpt{
			.date {
				background: #878787;
				color: #fff;
				font-weight: 400;
				text-transform: uppercase;
				border-radius: 4px;
				border: 0;
				box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
			}
		}
	}

/* Icons */

	.icon {
		position: relative;
		text-decoration: none;

		&:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		> .label {
			display: none;
		}
	}

/* Wrappers */

	#header-wrapper {
		position: relative;
		background: #fff;
		text-align: center;

		p {
			text-align: center;
		}
	}

	#banner-wrapper {
		position: relative;
		overflow: hidden;
		background: #fff;
		color: #fff;
		text-align: center;

		.inner {
			background: url('../../images/banner.jpg');
			background-size: cover;
		}

		p {
			text-align: center;
		}
	}

	#features-wrapper {
		position: relative;
		overflow: hidden;
		background: #fff;
		text-align: center;

		p {
			text-align: center;
		}

		.actions {
			margin-top: 1.25em;
		}
	}

	#main-wrapper {
		position: relative;
		overflow: hidden;
		background: #fff;
	}

	#footer-wrapper {
		position: relative;
		overflow: hidden;
		border-top: solid 2px #e5e5e5;
		background: #f0f0f0;

		form {
			input[type="text"],
			input[type="email"],
			input[type="password"],
			select,
			textarea {
				background: #f7f7f7;

				&:focus {
					background: #fff;
				}
			}
		}

		h2 {
			text-align: center;
		}
	}

/* Header */

	#header {
		position: relative;

		h1 {
			font-family: 'Arvo';
			font-weight: 700;
			color: #ed786a;
			text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);

			a {
				border: 0;
			}
		}

		p {
			text-transform: uppercase;
			color: #888;
		}
        p.site-title {
            margin: 1.5em 0px 0px;
            font-family: 'roboto';
        }
        
        
        
	}

/* new nav */

.main-menu {
    a {
        
        font-family: 'roboto';
        font-size: 12px;
        border-bottom: none;
    }
}



/* Nav */

	#nav {
		cursor: default;
		> ul {
			> li {
				> a {
					border: 0;
					text-decoration: none;
					text-transform: uppercase;
					font-weight: 400;
					color: #777;
					outline: 0;

					&:before {
						display: inline-block;
						background: #878787;
						color: #e4e4e4;
						width: 1.65em;
						height: 1.65em;
						border-radius: 1.65em;
						line-height: 1.65em;
						text-align: center;
						box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
						margin-right: 0.75em;
						-moz-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
						-webkit-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
						-o-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
						-ms-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
						transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
					}

					> span {
						-moz-transition: color 0.25s ease-in-out;
						-webkit-transition: color 0.25s ease-in-out;
						-o-transition: color 0.25s ease-in-out;
						-ms-transition: color 0.25s ease-in-out;
						transition: color 0.25s ease-in-out;
					}
				}

				&.active > a:before,
				&:hover > a:before {
					background: #ED786A;
					color: #fff;
				}

				&.active > a > span,
				&:hover > a > span {
					color: #ED786A;
				}
			}
		}
	}

/* Features */

	#features {
             box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 15px;
        padding: 0px;
        section {
            background: #ebf0f9;
            max-width: 550px;
            margin-bottom: 50px;
            p {
                padding: 0 30px;
            }
	}
}


/* Project Pages */

.project-header {

    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    height:400px;
    
    &.risbridger { background-image: url('../../images/risbridger/risbridger-bg.jpg');}
    &.streetswell { background-image: url('../../images/streetswell/streetswell-bg.jpg');}

    .container {
        h3.project-title {
            float:left;
            font-family: Roboto, sans-serif;
            font-size: 1.3em;
            color: #fff;
            padding-top: 30px;
            .pr {
                color:#b9c4d7;
            }
            
        }
        img.project-silo {
            float: right;
            padding-top: 60px;
            animation-duration: 1s;
            animation-delay: 0.5s;          
        }
    
    }    
}

.project-content {
    clear: both;
    .content {
        max-width: 800px;
        margin: 0 auto;
        font-size: 1.2em;
    }
}






/* Banner */

	#banner {
		position: relative;


		strong {
			color: inherit;
		}
	}

/* Content */

	#content {
		> section,
		> article {
			border-top: solid 2px #e5e5e5;
			box-shadow: inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;

			&:first-child {
				border-top: 0;
				box-shadow: none;
			}
		}
	}

/* Sidebar */

	#sidebar {
		> section,
		> article {
			border-top: solid 2px #e5e5e5;
			box-shadow: inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;

			&:first-child {
				border-top: 0;
				box-shadow: none;
			}
		}
	}

/* Copyright */

	#copyright {
		border-top: solid 2px #e5e5e5;
		text-align: center;
	}



/* Desktop */

	@include breakpoint(desktop) {

		/* Basic */

			body, input, textarea, select {
				line-height: 1.6em;
				font-size: 1.2em;
			}

			h2 {
				font-size: 2em;
				letter-spacing: 0px;
				margin: 0 0 0.2em 0;
				line-height: 1.6em;
			}

			h3 {
				font-size: 1em;
				letter-spacing: 2px;
				margin: 0 0 1.25em 0;
			}

		/* Table */

			table{
				&.default {
					thead {
						font-size: 0.85em;
						letter-spacing: 2px;
					}
				}
			}

		/* Button */

			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button,
			.button {
				font-size: 0.85em;
				letter-spacing: 2px;
				padding: 0.85em 2.75em 0.85em 2.75em;
			}

		/* List */

			ul {
				&.actions {
					li {
						display: inline-block;
						margin-left: 1em;

						&:first-child {
							margin-left: 0;
						}
					}
				}

				&.divided {
					li {
						margin: 2.5em 0 0 0;
						padding: 2.5em 0 0 0;
					}
				}
			}

		/* Box */

			.box {
				.post {
					.no-sidebar & > header {
						text-align: center;
					}
				}

				&.excerpt {
					.date {
						display: inline-block;
						font-size: 0.85em;
						letter-spacing: 2px;
						padding: 0.25em 1em 0.25em 1em;
						margin: 0 0 2.5em 0;
					}
				}
			}

		/* Wrappers */

			#header-wrapper {
			}

			#features-wrapper {
				padding: 6em 0 6em 0;
			}

			#banner-wrapper {
				padding: 0;
                clear: both;
			}

			#main-wrapper {
				padding: 6em 0 6em 0;
			}

			#footer-wrapper {
				padding: 6em 0 2em 0;
			}

		/* Header */

			#header {
				padding: 5em 0 3em 0;

				h1 {
					font-size: 3em;
					letter-spacing: 13px;
				}

				p {
					margin: 2.5em 0 0 0;
					font-size: 0.85em;
					letter-spacing: 3px;
				}
                p.site-title {
                    font-family: 'roboto';
                }
			}

		/* Nav */

			#nav {
				position: absolute;
				top: 3em;
				left: 0;
				width: 100%;

				> ul {
					> li {
						display: inline-block;
						padding-right: 2em;

						&:last-child {
							padding-right: 0;
						}

						> a {
							display: block;
							> span {
								font-size: 0.85em;
								letter-spacing: 3px;
							}
						}

						> ul {
							display: none;
						}
					}
				}
			}

			.dropotron {
				text-align: left;
				border: solid 1px #e5e5e5;
				border-radius: 4px;
				background: #fff;
				background: rgba(255, 255, 255, 0.965);
				box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
				padding: 0.75em 0 0.5em 0;
				min-width: 12em;
				margin-top: calc(-0.5em + 1px);
				margin-left: -2px;

				&.level-0 {
					margin-top: 1.5em;
					margin-left: -1em;

					&:after {
						content: '';
						display: block;
						position: absolute;
						left: 1.25em;
						top: calc(-0.75em + 1px);
						border-left: solid 0.75em rgba(255, 255, 255, 0);
						border-right: solid 0.75em rgba(255, 255, 255, 0);
						border-bottom: solid 0.75em #fff;
					}

					&:before {
						content: '';
						display: block;
						position: absolute;
						left: 1.25em;
						top: -0.75em;
						border-left: solid 0.75em rgba(255, 255, 255, 0);
						border-right: solid 0.75em rgba(255, 255, 255, 0);
						border-bottom: solid 0.75em #ccc;
					}
				}

				span, a {
					display: block;
					padding: 0.3em 1em 0.3em 1em;
					border: 0;
					border-top: solid 1px #f0f0f0;
					outline: 0;
				}

				li {
					&:first-child {
						> span, > a {
							border-top: 0;
							padding-top: 0;
						}
					}

					&:hover {
						> span, > a {
							@include vendor('transition', ('color 0.25s ease-in-out', 'border-bottom-color 0.25s ease-in-out'));
							color: #ed786a;
						}
					}
				}
			}

		/* Banner */

			#banner {
				padding: 10em 0 10em 0;

				p {
					font-size: 1.1em;
					line-height: 1.4em;
                    letter-spacing: 1px;
                    margin-bottom: 20px;
				}

				&:before, &:after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					width: 35px;
					height: 141px;
					margin-top: -70px;
					background: url('images/bracket.svg');
					opacity: 0.15;
				}

				&:before {
					left: 0;
				}

				&:after {
					@include vendor('transform', 'scaleX(-1)');
					right: 0;
				}
			}

		/* Content */

			#content > {
				> section,
				> article {
					margin: 5em 0 0 0;
					padding: 5em 0 0 0;

					&:first-child {
						margin: 0;
						padding: 0;
					}
				}
			}

		/* Sidebar */

			#sidebar {
				> section,
				> article {
					margin: 5em 0 0 0;
					padding: 5em 0 0 0;

					&:first-child {
						margin: 0;
						padding: 0;
					}
				}
			}

		/* Copyright */

			#copyright {
				margin-top: 6em;
				padding-top: 2em;
			}

	}

/* Tablet */

	@include breakpoint(tablet) {

		/* Basic */

			body {
				min-width: 960px;
				line-height: 1.75em;
				font-size: 12pt;
			}

			input, textarea, select {
				line-height: 1.75em;
				font-size: 12pt;
			}

			h2 {
				margin: 0 0 1em 0;
				font-size: 1.5em;
			}

			h3 {
				margin: 0 0 1em 0;
			}

			h2 br, h3 br, h4 br, h5 br, h6 br {
				display: none;
			}
        .container {
            
        }

		/* Image */

			.image.featured {
				margin: 0 0 2.5em 0;
			}

		/* Wrappers */

			#header-wrapper {
			}

			#features-wrapper {
				padding: 4em 0 4em 0;
			}

			#banner-wrapper {
				padding: 0;
			}

			#main-wrapper {
				padding: 4em 0 4em 0;
			}

			#footer-wrapper {
				padding: 4em 0 0em 0;
			}

		/* Header */

			#header {
				padding: 9em 0 4em 0;

				h1 {
					font-size: 2em;
				}
				p {
					margin: 1.5em 0 0 0;
				}
			}

		/* Nav */

			#nav {
				> ul {
					> li {
						padding-right: 1.25em;
					}
				}
			}

		/* Banner */

			#banner {
				padding: 7em 0 7em 0;
			}

		/* Copyright */

			#copyright {
				margin-top: 5em;
				padding-top: 2em;
			}
        
        

	}

/* Mobile */

	#navPanel, #titleBar {
		display: none;
	}

	@include breakpoint(mobile) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body, input, textarea, select {
				line-height: 1.75em;
				font-size: 11pt;
				letter-spacing: 0;
			}

			h2, h3, h4, h5, h6 {
				font-size: 1.2em;
				letter-spacing: 2px;
				text-align: center;
				margin: 0 0 1.5em 0;

				br {
					display: none;
				}
			}
        .container {
            padding: 0 10px;
        }

		/* Sections/Article */

			section, article {
				clear: both;
				margin: 2em 0 2em 0 !important;

				& > :first-child,
				&:first-child {
					margin-top: 0 !important;
				}
			}
        
        #banner {
            p {
                font-size: 1.2em !important;
            }
        }
        
        .project-header .container h3.project-title {
            float: none;
        }

		/* Image */

			.image {
				&.left {
					width: 40%;
				}

				&.featured {
					margin: 0 0 2em 0;
				}
			}
            
            img.project-silo {
                float: left;
                width:100%;
                height: auto;
                max-width: 768px;
            }

		/* Button */

			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button,
			.button {
				letter-spacing: 2px;
				display: block;
				padding: 1em;
			}

		/* List */

			ul {
				&.links {
					li {
						display: block;
						border: 0;
						padding: 0.25em 0 0 0;
						margin: 0;
					}
				}

				&.divided {
					li {
						margin: 2.75em 0 0 0;
						padding: 2.75em 0 0 0;
					}
				}

				&.icons {
					padding: 0 !important;
					margin: 0 0 0.5em 0 !important;
				}
			}

		/* Box */

			.box {
				&.excerpt {
					.date {
						display: block;
						letter-spacing: 2px;
						padding: 0.25em 1em 0.25em 1em;
						margin: 0 auto 2.5em auto;
						text-align: center;
					}
				}
			}

		/* Off-Canvas Navigation */

			#page-wrapper {
				@include vendor('backface-visibility', 'hidden');
				@include vendor('transition', 'transform #{_duration(navPanel)} ease');
				padding-bottom: 1px;
			}

			#titleBar {
				@include vendor('backface-visibility', 'hidden');
				@include vendor('transition', 'transform #{_duration(navPanel)} ease');
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: _misc(z-index-base) + 1;

				.toggle {
					position: absolute;
					left: 0;
					top: 0;
					width: 80px;
					height: 60px;
					border: 0;

					&:before {
						display: inline-block;
						font-family: FontAwesome;
						text-decoration: none;
						font-style: normal;
						font-weight: normal;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						content: '\f0c9';
						display: block;
						width: 60px;
						height: 40px;
						background: rgba(232, 232, 232, 0.9);
						border-radius: 4px;
						position: absolute;
						left: 5px;
						top: 5px;
						box-shadow: 0.125em 0.125em 0 0 rgba(0, 0, 0, 0.15);
						text-align: center;
						line-height: 40px;
						font-size: 18px;
						color: #aaa;
					}
					&:active:before {
						opacity: 0.5;
					}
				}
			}

			#navPanel {
				@include vendor('backface-visibility', 'hidden');
				@include vendor('transform', 'translateX(#{_size(navPanel) * -1})');
				@include vendor('transition', ('transform #{_duration(navPanel)} ease'));
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: _size(navPanel);
				z-index: _misc(z-index-base) + 2;
				background: #444;
				border-right: solid 2px #3c3c3c;
				font-weight: 400;
				text-transform: uppercase;
				color: #888;
				letter-spacing: 2px;
				font-size: 0.85em;

				.link {
					display: block;
					color: #ddd;
					text-decoration: none;
					height: 44px;
					line-height: 44px;
					border: 0;
					border-top: solid 1px #3c3c3c;
					padding: 0 1em 0 1em;
					&:first-child {
						border-top: 0;
					}
					&.depth-0 {
						font-weight: 600;
						color: #fff;
					}
				}
				.indent-1 {
					display: inline-block;
					width: 1em;
				}
				.indent-2 {
					display: inline-block;
					width: 2em;
				}
				.indent-3 {
					display: inline-block;
					width: 3em;
				}
				.indent-4 {
					display: inline-block;
					width: 4em;
				}
				.indent-5 {
					display: inline-block;
					width: 5em;
				}
				.depth-0 {
					color: #fff;
				}
			}

			body {
				&.navPanel-visible {
					#page-wrapper {
						@include vendor('transform', 'translateX(#{_size(navPanel)})');
					}

					#titleBar {
						@include vendor('transform', 'translateX(#{_size(navPanel)})');
					}

					#navPanel {
						@include vendor('transform', 'translateX(0)');
					}
				}
			}

		/* Wrappers */

			#header-wrapper {
				padding: 0 20px 0 20px;
			}

			#features-wrapper {
				padding: 3em 20px 3em 20px;
			}

			#banner-wrapper {
				padding: 0;
			}

			#main-wrapper {
				padding: 3em 20px 3em 20px;
			}

			#footer-wrapper {
				padding: 4em 20px 1em 20px;
			}

		/* Header */

			#header {
				padding: 6em 0 4em 0;

				h1 {
					font-size: 2em;
					letter-spacing: 8px;
					line-height: 1.25em;
				}
				p {
					margin: 1.25em 0 0 0;
					letter-spacing: 2px;
				}
			}

		/* Nav */

			#nav {
				display: none;
			}

		/* Banner */

			#banner {
				padding: 5em 20px 5em 20px;
				margin: 0 !important;

				p {
					font-size: 1.75em;
					line-height: 1.25em;

					br {
						display: none;
					}
				}
			}

		/* Content */

			#content {
				> section, > article {
					margin: 4em 0 0 0 !important;
					padding: 4em 0 0 0 !important;

					&:first-child {
						margin: 0 !important;
						padding: 0 !important;
					}
				}
			}

		/* Sidebar */

			#sidebar {
				border-top: solid 2px #e5e5e5;
				box-shadow: inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
				margin-top: 4em !important;
				padding-top: 4em !important;

				> section, > article {
					margin: 4em 0 0 0 !important;
					padding: 4em 0 0 0 !important;

					&:first-child {
						margin: 0 !important;
						padding: 0 !important;
					}
				}
			}

		/* Footer */

			#footer {
				.icons {
					margin: 0 0 2em 0 !important;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}

		/* Copyright */

			#copyright {
				margin-top: 2em;
				padding-top: 2em;
			}
        
        .project-content ul.actions {
            margin: 30px 60px;
        }

	}


.hide {
    display: none;
}