/*
	Strongly Typed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/* Basic */
/* line 14, ../sass/ie8.scss */
form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
  position: relative;
  -ms-behavior: url("assets/js/ie/PIE.htc");
}

/* line 24, ../sass/ie8.scss */
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  position: relative;
  -ms-behavior: url("assets/js/ie/PIE.htc");
}

/* line 33, ../sass/ie8.scss */
.button, .box.excerpt .date {
  position: relative;
  -ms-behavior: url("assets/js/ie/PIE.htc");
}

/* Sections/Article */
/* line 41, ../sass/ie8.scss */
section > .last-child, section.last-child, article > .last-child, article.last-child {
  margin-bottom: 0;
}

/* Wrappers */
/* line 49, ../sass/ie8.scss */
#banner-wrapper .inner {
  -ms-behavior: url("assets/js/ie/backgroundsize.min.htc");
}
