@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700");
@import url("animate.css");
@import url("form.css");
/*
	Strongly Typed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/* Reset */
/* line 537, ../sass/libs/_skel.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 537, ../sass/libs/_skel.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 537, ../sass/libs/_skel.scss */
body {
  line-height: 1;
}

/* line 537, ../sass/libs/_skel.scss */
ol, ul {
  list-style: none;
}

/* line 537, ../sass/libs/_skel.scss */
blockquote, q {
  quotes: none;
}

/* line 537, ../sass/libs/_skel.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 537, ../sass/libs/_skel.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 537, ../sass/libs/_skel.scss */
body {
  -webkit-text-size-adjust: none;
}

/* Box Model */
/* line 167, ../sass/libs/_skel.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Containers */
/* line 394, ../sass/libs/_skel.scss */
.container {
  margin-left: auto;
  margin-right: auto;
}

/* line 221, ../sass/libs/_skel.scss */
.container.\31 25\25 {
  width: 100%;
  max-width: 1200px;
  min-width: 960px;
}

/* line 222, ../sass/libs/_skel.scss */
.container.\37 5\25 {
  width: 720px;
}

/* line 223, ../sass/libs/_skel.scss */
.container.\35 0\25 {
  width: 480px;
}

/* line 224, ../sass/libs/_skel.scss */
.container.\32 5\25 {
  width: 240px;
}

/* line 227, ../sass/libs/_skel.scss */
.container {
  width: 960px;
}

@media screen and (min-width: 900px) {
  /* line 221, ../sass/libs/_skel.scss */
  .container.\31 25\25 {
    width: 100%;
    max-width: 1500px;
    min-width: 1200px;
  }

  /* line 222, ../sass/libs/_skel.scss */
  .container.\37 5\25 {
    width: 900px;
  }

  /* line 223, ../sass/libs/_skel.scss */
  .container.\35 0\25 {
    width: 600px;
  }

  /* line 224, ../sass/libs/_skel.scss */
  .container.\32 5\25 {
    width: 300px;
  }

  /* line 227, ../sass/libs/_skel.scss */
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 221, ../sass/libs/_skel.scss */
  .container.\31 25\25 {
    width: 100%;
    max-width: 1200px;
    min-width: 960px;
  }

  /* line 222, ../sass/libs/_skel.scss */
  .container.\37 5\25 {
    width: 720px;
  }

  /* line 223, ../sass/libs/_skel.scss */
  .container.\35 0\25 {
    width: 480px;
  }

  /* line 224, ../sass/libs/_skel.scss */
  .container.\32 5\25 {
    width: 240px;
  }

  /* line 227, ../sass/libs/_skel.scss */
  .container {
    width: 960px;
  }
}
@media screen and (max-width: 900px) {
  /* line 221, ../sass/libs/_skel.scss */
  .container.\31 25\25 {
    width: 100%;
    max-width: 125%;
    min-width: 100%;
  }

  /* line 222, ../sass/libs/_skel.scss */
  .container.\37 5\25 {
    width: 75%;
  }

  /* line 223, ../sass/libs/_skel.scss */
  .container.\35 0\25 {
    width: 50%;
  }

  /* line 224, ../sass/libs/_skel.scss */
  .container.\32 5\25 {
    width: 25%;
  }

  /* line 227, ../sass/libs/_skel.scss */
  .container {
    width: 100% !important;
  }
}
/* Grid */
/* line 454, ../sass/libs/_skel.scss */
.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 461, ../sass/libs/_skel.scss */
.row > * {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 468, ../sass/libs/_skel.scss */
.row:after, .row:before {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

/* line 475, ../sass/libs/_skel.scss */
.row.uniform > * > :first-child {
  margin-top: 0;
}

/* line 479, ../sass/libs/_skel.scss */
.row.uniform > * > :last-child {
  margin-bottom: 0;
}

/* line 322, ../sass/libs/_skel.scss */
.row.\30 \25  > * {
  padding: 0 0 0 0px;
}

/* line 323, ../sass/libs/_skel.scss */
.row.\30 \25 {
  margin: 0 0 -1px 0px;
}

/* line 326, ../sass/libs/_skel.scss */
.row.uniform.\30 \25  > * {
  padding: 0px 0 0 0px;
}

/* line 327, ../sass/libs/_skel.scss */
.row.uniform.\30 \25 {
  margin: 0px 0 -1px 0px;
}

/* line 322, ../sass/libs/_skel.scss */
.row > * {
  padding: 0 0 0 40px;
}

/* line 323, ../sass/libs/_skel.scss */
.row {
  margin: 0 0 -1px -40px;
}

/* line 326, ../sass/libs/_skel.scss */
.row.uniform > * {
  padding: 40px 0 0 40px;
}

/* line 327, ../sass/libs/_skel.scss */
.row.uniform {
  margin: -40px 0 -1px -40px;
}

/* line 322, ../sass/libs/_skel.scss */
.row.\32 00\25  > * {
  padding: 0 0 0 80px;
}

/* line 323, ../sass/libs/_skel.scss */
.row.\32 00\25 {
  margin: 0 0 -1px -80px;
}

/* line 326, ../sass/libs/_skel.scss */
.row.uniform.\32 00\25  > * {
  padding: 80px 0 0 80px;
}

/* line 327, ../sass/libs/_skel.scss */
.row.uniform.\32 00\25 {
  margin: -80px 0 -1px -80px;
}

/* line 322, ../sass/libs/_skel.scss */
.row.\31 50\25  > * {
  padding: 0 0 0 60px;
}

/* line 323, ../sass/libs/_skel.scss */
.row.\31 50\25 {
  margin: 0 0 -1px -60px;
}

/* line 326, ../sass/libs/_skel.scss */
.row.uniform.\31 50\25  > * {
  padding: 60px 0 0 60px;
}

/* line 327, ../sass/libs/_skel.scss */
.row.uniform.\31 50\25 {
  margin: -60px 0 -1px -60px;
}

/* line 322, ../sass/libs/_skel.scss */
.row.\35 0\25  > * {
  padding: 0 0 0 20px;
}

/* line 323, ../sass/libs/_skel.scss */
.row.\35 0\25 {
  margin: 0 0 -1px -20px;
}

/* line 326, ../sass/libs/_skel.scss */
.row.uniform.\35 0\25  > * {
  padding: 20px 0 0 20px;
}

/* line 327, ../sass/libs/_skel.scss */
.row.uniform.\35 0\25 {
  margin: -20px 0 -1px -20px;
}

/* line 322, ../sass/libs/_skel.scss */
.row.\32 5\25  > * {
  padding: 0 0 0 10px;
}

/* line 323, ../sass/libs/_skel.scss */
.row.\32 5\25 {
  margin: 0 0 -1px -10px;
}

/* line 326, ../sass/libs/_skel.scss */
.row.uniform.\32 5\25  > * {
  padding: 10px 0 0 10px;
}

/* line 327, ../sass/libs/_skel.scss */
.row.uniform.\32 5\25 {
  margin: -10px 0 -1px -10px;
}

/* line 257, ../sass/libs/_skel.scss */
.\31 2u, .\31 2u\24 {
  width: 100%;
  clear: none;
  margin-left: 0;
}

/* line 258, ../sass/libs/_skel.scss */
.\31 1u, .\31 1u\24 {
  width: 91.6666666667%;
  clear: none;
  margin-left: 0;
}

/* line 259, ../sass/libs/_skel.scss */
.\31 0u, .\31 0u\24 {
  width: 83.3333333333%;
  clear: none;
  margin-left: 0;
}

/* line 260, ../sass/libs/_skel.scss */
.\39 u, .\39 u\24 {
  width: 75%;
  clear: none;
  margin-left: 0;
}

/* line 261, ../sass/libs/_skel.scss */
.\38 u, .\38 u\24 {
  width: 66.6666666667%;
  clear: none;
  margin-left: 0;
}

/* line 262, ../sass/libs/_skel.scss */
.\37 u, .\37 u\24 {
  width: 58.3333333333%;
  clear: none;
  margin-left: 0;
}

/* line 263, ../sass/libs/_skel.scss */
.\36 u, .\36 u\24 {
  width: 50%;
  clear: none;
  margin-left: 0;
}

/* line 264, ../sass/libs/_skel.scss */
.\35 u, .\35 u\24 {
  width: 41.6666666667%;
  clear: none;
  margin-left: 0;
}

/* line 265, ../sass/libs/_skel.scss */
.\34 u, .\34 u\24 {
  width: 33.3333333333%;
  clear: none;
  margin-left: 0;
}

/* line 266, ../sass/libs/_skel.scss */
.\33 u, .\33 u\24 {
  width: 25%;
  clear: none;
  margin-left: 0;
}

/* line 267, ../sass/libs/_skel.scss */
.\32 u, .\32 u\24 {
  width: 16.6666666667%;
  clear: none;
  margin-left: 0;
}

/* line 268, ../sass/libs/_skel.scss */
.\31 u, .\31 u\24 {
  width: 8.3333333333%;
  clear: none;
  margin-left: 0;
}

/* line 270, ../sass/libs/_skel.scss */
.\31 2u\24  + *,
.\31 1u\24  + *,
.\31 0u\24  + *,
.\39 u\24  + *,
.\38 u\24  + *,
.\37 u\24  + *,
.\36 u\24  + *,
.\35 u\24  + *,
.\34 u\24  + *,
.\33 u\24  + *,
.\32 u\24  + *,
.\31 u\24  + * {
  clear: left;
}

/* line 285, ../sass/libs/_skel.scss */
.\-11u {
  margin-left: 91.66667%;
}

/* line 286, ../sass/libs/_skel.scss */
.\-10u {
  margin-left: 83.33333%;
}

/* line 287, ../sass/libs/_skel.scss */
.\-9u {
  margin-left: 75%;
}

/* line 288, ../sass/libs/_skel.scss */
.\-8u {
  margin-left: 66.66667%;
}

/* line 289, ../sass/libs/_skel.scss */
.\-7u {
  margin-left: 58.33333%;
}

/* line 290, ../sass/libs/_skel.scss */
.\-6u {
  margin-left: 50%;
}

/* line 291, ../sass/libs/_skel.scss */
.\-5u {
  margin-left: 41.66667%;
}

/* line 292, ../sass/libs/_skel.scss */
.\-4u {
  margin-left: 33.33333%;
}

/* line 293, ../sass/libs/_skel.scss */
.\-3u {
  margin-left: 25%;
}

/* line 294, ../sass/libs/_skel.scss */
.\-2u {
  margin-left: 16.66667%;
}

/* line 295, ../sass/libs/_skel.scss */
.\-1u {
  margin-left: 8.33333%;
}

@media screen and (min-width: 900px) {
  /* line 322, ../sass/libs/_skel.scss */
  .row > * {
    padding: 50px 0 0 50px;
  }

  /* line 323, ../sass/libs/_skel.scss */
  .row {
    margin: -50px 0 -1px -50px;
  }

  /* line 326, ../sass/libs/_skel.scss */
  .row.uniform > * {
    padding: 50px 0 0 50px;
  }

  /* line 327, ../sass/libs/_skel.scss */
  .row.uniform {
    margin: -50px 0 -1px -50px;
  }

  /* line 322, ../sass/libs/_skel.scss */
  .row.\32 00\25  > * {
    padding: 100px 0 0 100px;
  }

  /* line 323, ../sass/libs/_skel.scss */
  .row.\32 00\25 {
    margin: -100px 0 -1px -100px;
  }

  /* line 326, ../sass/libs/_skel.scss */
  .row.uniform.\32 00\25  > * {
    padding: 100px 0 0 100px;
  }

  /* line 327, ../sass/libs/_skel.scss */
  .row.uniform.\32 00\25 {
    margin: -100px 0 -1px -100px;
  }

  /* line 322, ../sass/libs/_skel.scss */
  .row.\31 50\25  > * {
    padding: 75px 0 0 75px;
  }

  /* line 323, ../sass/libs/_skel.scss */
  .row.\31 50\25 {
    margin: -75px 0 -1px -75px;
  }

  /* line 326, ../sass/libs/_skel.scss */
  .row.uniform.\31 50\25  > * {
    padding: 75px 0 0 75px;
  }

  /* line 327, ../sass/libs/_skel.scss */
  .row.uniform.\31 50\25 {
    margin: -75px 0 -1px -75px;
  }

  /* line 322, ../sass/libs/_skel.scss */
  .row.\35 0\25  > * {
    padding: 25px 0 0 25px;
  }

  /* line 323, ../sass/libs/_skel.scss */
  .row.\35 0\25 {
    margin: -25px 0 -1px -25px;
  }

  /* line 326, ../sass/libs/_skel.scss */
  .row.uniform.\35 0\25  > * {
    padding: 25px 0 0 25px;
  }

  /* line 327, ../sass/libs/_skel.scss */
  .row.uniform.\35 0\25 {
    margin: -25px 0 -1px -25px;
  }

  /* line 322, ../sass/libs/_skel.scss */
  .row.\32 5\25  > * {
    padding: 12.5px 0 0 12.5px;
  }

  /* line 323, ../sass/libs/_skel.scss */
  .row.\32 5\25 {
    margin: -12.5px 0 -1px -12.5px;
  }

  /* line 326, ../sass/libs/_skel.scss */
  .row.uniform.\32 5\25  > * {
    padding: 12.5px 0 0 12.5px;
  }

  /* line 327, ../sass/libs/_skel.scss */
  .row.uniform.\32 5\25 {
    margin: -12.5px 0 -1px -12.5px;
  }

  /* line 257, ../sass/libs/_skel.scss */
  .\31 2u\28desktop\29, .\31 2u\24\28desktop\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }

  /* line 258, ../sass/libs/_skel.scss */
  .\31 1u\28desktop\29, .\31 1u\24\28desktop\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }

  /* line 259, ../sass/libs/_skel.scss */
  .\31 0u\28desktop\29, .\31 0u\24\28desktop\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }

  /* line 260, ../sass/libs/_skel.scss */
  .\39 u\28desktop\29, .\39 u\24\28desktop\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }

  /* line 261, ../sass/libs/_skel.scss */
  .\38 u\28desktop\29, .\38 u\24\28desktop\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }

  /* line 262, ../sass/libs/_skel.scss */
  .\37 u\28desktop\29, .\37 u\24\28desktop\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }

  /* line 263, ../sass/libs/_skel.scss */
  .\36 u\28desktop\29, .\36 u\24\28desktop\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }

  /* line 264, ../sass/libs/_skel.scss */
  .\35 u\28desktop\29, .\35 u\24\28desktop\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }

  /* line 265, ../sass/libs/_skel.scss */
  .\34 u\28desktop\29, .\34 u\24\28desktop\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }

  /* line 266, ../sass/libs/_skel.scss */
  .\33 u\28desktop\29, .\33 u\24\28desktop\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }

  /* line 267, ../sass/libs/_skel.scss */
  .\32 u\28desktop\29, .\32 u\24\28desktop\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }

  /* line 268, ../sass/libs/_skel.scss */
  .\31 u\28desktop\29, .\31 u\24\28desktop\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }

  /* line 270, ../sass/libs/_skel.scss */
  .\31 2u\24\28desktop\29  + *,
  .\31 1u\24\28desktop\29  + *,
  .\31 0u\24\28desktop\29  + *,
  .\39 u\24\28desktop\29  + *,
  .\38 u\24\28desktop\29  + *,
  .\37 u\24\28desktop\29  + *,
  .\36 u\24\28desktop\29  + *,
  .\35 u\24\28desktop\29  + *,
  .\34 u\24\28desktop\29  + *,
  .\33 u\24\28desktop\29  + *,
  .\32 u\24\28desktop\29  + *,
  .\31 u\24\28desktop\29  + * {
    clear: left;
  }

  /* line 285, ../sass/libs/_skel.scss */
  .\-11u\28desktop\29 {
    margin-left: 91.66667%;
  }

  /* line 286, ../sass/libs/_skel.scss */
  .\-10u\28desktop\29 {
    margin-left: 83.33333%;
  }

  /* line 287, ../sass/libs/_skel.scss */
  .\-9u\28desktop\29 {
    margin-left: 75%;
  }

  /* line 288, ../sass/libs/_skel.scss */
  .\-8u\28desktop\29 {
    margin-left: 66.66667%;
  }

  /* line 289, ../sass/libs/_skel.scss */
  .\-7u\28desktop\29 {
    margin-left: 58.33333%;
  }

  /* line 290, ../sass/libs/_skel.scss */
  .\-6u\28desktop\29 {
    margin-left: 50%;
  }

  /* line 291, ../sass/libs/_skel.scss */
  .\-5u\28desktop\29 {
    margin-left: 41.66667%;
  }

  /* line 292, ../sass/libs/_skel.scss */
  .\-4u\28desktop\29 {
    margin-left: 33.33333%;
  }

  /* line 293, ../sass/libs/_skel.scss */
  .\-3u\28desktop\29 {
    margin-left: 25%;
  }

  /* line 294, ../sass/libs/_skel.scss */
  .\-2u\28desktop\29 {
    margin-left: 16.66667%;
  }

  /* line 295, ../sass/libs/_skel.scss */
  .\-1u\28desktop\29 {
    margin-left: 8.33333%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 322, ../sass/libs/_skel.scss */
  .row > * {
    padding: 30px 0 0 30px;
  }

  /* line 323, ../sass/libs/_skel.scss */
  .row {
    margin: -30px 0 -1px -30px;
  }

  /* line 326, ../sass/libs/_skel.scss */
  .row.uniform > * {
    padding: 30px 0 0 30px;
  }

  /* line 327, ../sass/libs/_skel.scss */
  .row.uniform {
    margin: -30px 0 -1px -30px;
  }

  /* line 322, ../sass/libs/_skel.scss */
  .row.\32 00\25  > * {
    padding: 60px 0 0 60px;
  }

  /* line 323, ../sass/libs/_skel.scss */
  .row.\32 00\25 {
    margin: -60px 0 -1px -60px;
  }

  /* line 326, ../sass/libs/_skel.scss */
  .row.uniform.\32 00\25  > * {
    padding: 60px 0 0 60px;
  }

  /* line 327, ../sass/libs/_skel.scss */
  .row.uniform.\32 00\25 {
    margin: -60px 0 -1px -60px;
  }

  /* line 322, ../sass/libs/_skel.scss */
  .row.\31 50\25  > * {
    padding: 45px 0 0 45px;
  }

  /* line 323, ../sass/libs/_skel.scss */
  .row.\31 50\25 {
    margin: -45px 0 -1px -45px;
  }

  /* line 326, ../sass/libs/_skel.scss */
  .row.uniform.\31 50\25  > * {
    padding: 45px 0 0 45px;
  }

  /* line 327, ../sass/libs/_skel.scss */
  .row.uniform.\31 50\25 {
    margin: -45px 0 -1px -45px;
  }

  /* line 322, ../sass/libs/_skel.scss */
  .row.\35 0\25  > * {
    padding: 15px 0 0 15px;
  }

  /* line 323, ../sass/libs/_skel.scss */
  .row.\35 0\25 {
    margin: -15px 0 -1px -15px;
  }

  /* line 326, ../sass/libs/_skel.scss */
  .row.uniform.\35 0\25  > * {
    padding: 15px 0 0 15px;
  }

  /* line 327, ../sass/libs/_skel.scss */
  .row.uniform.\35 0\25 {
    margin: -15px 0 -1px -15px;
  }

  /* line 322, ../sass/libs/_skel.scss */
  .row.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px;
  }

  /* line 323, ../sass/libs/_skel.scss */
  .row.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px;
  }

  /* line 326, ../sass/libs/_skel.scss */
  .row.uniform.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px;
  }

  /* line 327, ../sass/libs/_skel.scss */
  .row.uniform.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px;
  }

  /* line 257, ../sass/libs/_skel.scss */
  .\31 2u\28tablet\29, .\31 2u\24\28tablet\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }

  /* line 258, ../sass/libs/_skel.scss */
  .\31 1u\28tablet\29, .\31 1u\24\28tablet\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }

  /* line 259, ../sass/libs/_skel.scss */
  .\31 0u\28tablet\29, .\31 0u\24\28tablet\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }

  /* line 260, ../sass/libs/_skel.scss */
  .\39 u\28tablet\29, .\39 u\24\28tablet\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }

  /* line 261, ../sass/libs/_skel.scss */
  .\38 u\28tablet\29, .\38 u\24\28tablet\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }

  /* line 262, ../sass/libs/_skel.scss */
  .\37 u\28tablet\29, .\37 u\24\28tablet\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }

  /* line 263, ../sass/libs/_skel.scss */
  .\36 u\28tablet\29, .\36 u\24\28tablet\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }

  /* line 264, ../sass/libs/_skel.scss */
  .\35 u\28tablet\29, .\35 u\24\28tablet\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }

  /* line 265, ../sass/libs/_skel.scss */
  .\34 u\28tablet\29, .\34 u\24\28tablet\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }

  /* line 266, ../sass/libs/_skel.scss */
  .\33 u\28tablet\29, .\33 u\24\28tablet\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }

  /* line 267, ../sass/libs/_skel.scss */
  .\32 u\28tablet\29, .\32 u\24\28tablet\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }

  /* line 268, ../sass/libs/_skel.scss */
  .\31 u\28tablet\29, .\31 u\24\28tablet\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }

  /* line 270, ../sass/libs/_skel.scss */
  .\31 2u\24\28tablet\29  + *,
  .\31 1u\24\28tablet\29  + *,
  .\31 0u\24\28tablet\29  + *,
  .\39 u\24\28tablet\29  + *,
  .\38 u\24\28tablet\29  + *,
  .\37 u\24\28tablet\29  + *,
  .\36 u\24\28tablet\29  + *,
  .\35 u\24\28tablet\29  + *,
  .\34 u\24\28tablet\29  + *,
  .\33 u\24\28tablet\29  + *,
  .\32 u\24\28tablet\29  + *,
  .\31 u\24\28tablet\29  + * {
    clear: left;
  }

  /* line 285, ../sass/libs/_skel.scss */
  .\-11u\28tablet\29 {
    margin-left: 91.66667%;
  }

  /* line 286, ../sass/libs/_skel.scss */
  .\-10u\28tablet\29 {
    margin-left: 83.33333%;
  }

  /* line 287, ../sass/libs/_skel.scss */
  .\-9u\28tablet\29 {
    margin-left: 75%;
  }

  /* line 288, ../sass/libs/_skel.scss */
  .\-8u\28tablet\29 {
    margin-left: 66.66667%;
  }

  /* line 289, ../sass/libs/_skel.scss */
  .\-7u\28tablet\29 {
    margin-left: 58.33333%;
  }

  /* line 290, ../sass/libs/_skel.scss */
  .\-6u\28tablet\29 {
    margin-left: 50%;
  }

  /* line 291, ../sass/libs/_skel.scss */
  .\-5u\28tablet\29 {
    margin-left: 41.66667%;
  }

  /* line 292, ../sass/libs/_skel.scss */
  .\-4u\28tablet\29 {
    margin-left: 33.33333%;
  }

  /* line 293, ../sass/libs/_skel.scss */
  .\-3u\28tablet\29 {
    margin-left: 25%;
  }

  /* line 294, ../sass/libs/_skel.scss */
  .\-2u\28tablet\29 {
    margin-left: 16.66667%;
  }

  /* line 295, ../sass/libs/_skel.scss */
  .\-1u\28tablet\29 {
    margin-left: 8.33333%;
  }
}
@media screen and (max-width: 900px) {
  /* line 322, ../sass/libs/_skel.scss */
  .row > * {
    padding: 20px 0 0 20px;
  }

  /* line 323, ../sass/libs/_skel.scss */
  .row {
    margin: -20px 0 -1px -20px;
  }

  /* line 326, ../sass/libs/_skel.scss */
  .row.uniform > * {
    padding: 20px 0 0 20px;
  }

  /* line 327, ../sass/libs/_skel.scss */
  .row.uniform {
    margin: -20px 0 -1px -20px;
  }

  /* line 322, ../sass/libs/_skel.scss */
  .row.\32 00\25  > * {
    padding: 40px 0 0 40px;
  }

  /* line 323, ../sass/libs/_skel.scss */
  .row.\32 00\25 {
    margin: -40px 0 -1px -40px;
  }

  /* line 326, ../sass/libs/_skel.scss */
  .row.uniform.\32 00\25  > * {
    padding: 40px 0 0 40px;
  }

  /* line 327, ../sass/libs/_skel.scss */
  .row.uniform.\32 00\25 {
    margin: -40px 0 -1px -40px;
  }

  /* line 322, ../sass/libs/_skel.scss */
  .row.\31 50\25  > * {
    padding: 30px 0 0 30px;
  }

  /* line 323, ../sass/libs/_skel.scss */
  .row.\31 50\25 {
    margin: -30px 0 -1px -30px;
  }

  /* line 326, ../sass/libs/_skel.scss */
  .row.uniform.\31 50\25  > * {
    padding: 30px 0 0 30px;
  }

  /* line 327, ../sass/libs/_skel.scss */
  .row.uniform.\31 50\25 {
    margin: -30px 0 -1px -30px;
  }

  /* line 322, ../sass/libs/_skel.scss */
  .row.\35 0\25  > * {
    padding: 10px 0 0 10px;
  }

  /* line 323, ../sass/libs/_skel.scss */
  .row.\35 0\25 {
    margin: -10px 0 -1px -10px;
  }

  /* line 326, ../sass/libs/_skel.scss */
  .row.uniform.\35 0\25  > * {
    padding: 10px 0 0 10px;
  }

  /* line 327, ../sass/libs/_skel.scss */
  .row.uniform.\35 0\25 {
    margin: -10px 0 -1px -10px;
  }

  /* line 322, ../sass/libs/_skel.scss */
  .row.\32 5\25  > * {
    padding: 5px 0 0 5px;
  }

  /* line 323, ../sass/libs/_skel.scss */
  .row.\32 5\25 {
    margin: -5px 0 -1px -5px;
  }

  /* line 326, ../sass/libs/_skel.scss */
  .row.uniform.\32 5\25  > * {
    padding: 5px 0 0 5px;
  }

  /* line 327, ../sass/libs/_skel.scss */
  .row.uniform.\32 5\25 {
    margin: -5px 0 -1px -5px;
  }

  /* line 257, ../sass/libs/_skel.scss */
  .\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }

  /* line 258, ../sass/libs/_skel.scss */
  .\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }

  /* line 259, ../sass/libs/_skel.scss */
  .\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }

  /* line 260, ../sass/libs/_skel.scss */
  .\39 u\28mobile\29, .\39 u\24\28mobile\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }

  /* line 261, ../sass/libs/_skel.scss */
  .\38 u\28mobile\29, .\38 u\24\28mobile\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }

  /* line 262, ../sass/libs/_skel.scss */
  .\37 u\28mobile\29, .\37 u\24\28mobile\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }

  /* line 263, ../sass/libs/_skel.scss */
  .\36 u\28mobile\29, .\36 u\24\28mobile\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }

  /* line 264, ../sass/libs/_skel.scss */
  .\35 u\28mobile\29, .\35 u\24\28mobile\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }

  /* line 265, ../sass/libs/_skel.scss */
  .\34 u\28mobile\29, .\34 u\24\28mobile\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }

  /* line 266, ../sass/libs/_skel.scss */
  .\33 u\28mobile\29, .\33 u\24\28mobile\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }

  /* line 267, ../sass/libs/_skel.scss */
  .\32 u\28mobile\29, .\32 u\24\28mobile\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }

  /* line 268, ../sass/libs/_skel.scss */
  .\31 u\28mobile\29, .\31 u\24\28mobile\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }

  /* line 270, ../sass/libs/_skel.scss */
  .\31 2u\24\28mobile\29  + *,
  .\31 1u\24\28mobile\29  + *,
  .\31 0u\24\28mobile\29  + *,
  .\39 u\24\28mobile\29  + *,
  .\38 u\24\28mobile\29  + *,
  .\37 u\24\28mobile\29  + *,
  .\36 u\24\28mobile\29  + *,
  .\35 u\24\28mobile\29  + *,
  .\34 u\24\28mobile\29  + *,
  .\33 u\24\28mobile\29  + *,
  .\32 u\24\28mobile\29  + *,
  .\31 u\24\28mobile\29  + * {
    clear: left;
  }

  /* line 285, ../sass/libs/_skel.scss */
  .\-11u\28mobile\29 {
    margin-left: 91.66667%;
  }

  /* line 286, ../sass/libs/_skel.scss */
  .\-10u\28mobile\29 {
    margin-left: 83.33333%;
  }

  /* line 287, ../sass/libs/_skel.scss */
  .\-9u\28mobile\29 {
    margin-left: 75%;
  }

  /* line 288, ../sass/libs/_skel.scss */
  .\-8u\28mobile\29 {
    margin-left: 66.66667%;
  }

  /* line 289, ../sass/libs/_skel.scss */
  .\-7u\28mobile\29 {
    margin-left: 58.33333%;
  }

  /* line 290, ../sass/libs/_skel.scss */
  .\-6u\28mobile\29 {
    margin-left: 50%;
  }

  /* line 291, ../sass/libs/_skel.scss */
  .\-5u\28mobile\29 {
    margin-left: 41.66667%;
  }

  /* line 292, ../sass/libs/_skel.scss */
  .\-4u\28mobile\29 {
    margin-left: 33.33333%;
  }

  /* line 293, ../sass/libs/_skel.scss */
  .\-3u\28mobile\29 {
    margin-left: 25%;
  }

  /* line 294, ../sass/libs/_skel.scss */
  .\-2u\28mobile\29 {
    margin-left: 16.66667%;
  }

  /* line 295, ../sass/libs/_skel.scss */
  .\-1u\28mobile\29 {
    margin-left: 8.33333%;
  }
}
/* Basic */
/* line 55, ../sass/main.scss */
body {
  background: #fff;
  font-family: 'adobe-caslon-pro';
  color: #777;
}
/* line 60, ../sass/main.scss */
body.is-loading * {
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

/* line 66, ../sass/main.scss */
input, textarea, select {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  color: #777;
}

/* line 72, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'adobe-caslon-pro';
  color: #334354;
  letter-spacing: 0px;
}

/* line 78, ../sass/main.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
  border: 0;
}

/* line 84, ../sass/main.scss */
a {
  -moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
  color: #666;
  text-decoration: none;
}
/* line 90, ../sass/main.scss */
a strong {
  -moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
}
/* line 94, ../sass/main.scss */
a:hover {
  color: #ed786a;
  border-bottom-color: rgba(255, 255, 255, 0);
}
/* line 98, ../sass/main.scss */
a:hover strong {
  color: #ed786a;
}

/* line 104, ../sass/main.scss */
strong, b {
  font-weight: 600;
  color: #666;
}

/* line 109, ../sass/main.scss */
em, i {
  font-style: italic;
}

/* line 113, ../sass/main.scss */
sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

/* line 119, ../sass/main.scss */
sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

/* line 125, ../sass/main.scss */
hr {
  border: 0;
  border-top: solid 1px #ddd;
}

/* line 130, ../sass/main.scss */
blockquote {
  border-left: solid 0.5em #ddd;
  padding: 1em 0 1em 2em;
  font-style: italic;
}

/* line 136, ../sass/main.scss */
p {
  margin-bottom: 2em;
}

/* line 141, ../sass/main.scss */
ul, ol, dl, table, blockquote {
  margin-bottom: 2em;
}

/* line 145, ../sass/main.scss */
br.clear {
  clear: both;
}

/* Sections/Article */
/* line 151, ../sass/main.scss */
section, article {
  margin-bottom: 3em;
}

/* line 155, ../sass/main.scss */
section > :last-child,
article > :last-child,
section:last-child,
article:last-child {
  margin-bottom: 0;
}

/* Image */
/* line 164, ../sass/main.scss */
.image {
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  display: inline-block;
}
/* line 169, ../sass/main.scss */
.image:hover {
  opacity: 0.9;
}
/* line 173, ../sass/main.scss */
.image img {
  display: block;
  width: 100%;
  border: 1px #b5b4b4 solid;
}
/* line 179, ../sass/main.scss */
.image.fit {
  display: block;
  width: 100%;
}
/* line 184, ../sass/main.scss */
.image.featured {
  display: block;
  width: 100%;
  margin: 0 0 3.5em 0;
}
/* line 190, ../sass/main.scss */
.image.left {
  float: left;
  margin: 0 1.5em 1.5em 0;
  position: relative;
  top: 0.5em;
}
/* line 197, ../sass/main.scss */
.image.centered {
  display: block;
  margin: 0 0 2em 0;
}
/* line 201, ../sass/main.scss */
.image.centered img {
  margin: 0 auto;
  width: auto;
}

/* List */
/* line 211, ../sass/main.scss */
ul.default {
  list-style: disc;
  margin-left: 1em;
}
/* line 215, ../sass/main.scss */
ul.default li {
  padding-left: 0.5em;
  margin: 0.75em 0 0.75em 0;
}
/* line 219, ../sass/main.scss */
ul.default li:first-child {
  margin-top: 0;
}
/* line 225, ../sass/main.scss */
ul.links {
  list-style: decimal;
  margin-left: 1em;
}
/* line 229, ../sass/main.scss */
ul.links li {
  display: inline;
  padding-left: 1em;
  margin-left: 1em;
}
/* line 234, ../sass/main.scss */
ul.links li:first-child {
  margin-left: 0;
  padding-left: 0;
}
/* line 241, ../sass/main.scss */
ul.actions {
  margin-top: 2.5em;
  clear: both;
  text-align: center;
}
/* line 248, ../sass/main.scss */
ul.divided li {
  border-top: solid 2px #e5e5e5;
}
/* line 251, ../sass/main.scss */
ul.divided li:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}
/* line 260, ../sass/main.scss */
ul.icons > li {
  position: relative;
  padding: 2em 0 0 3em;
}
/* line 264, ../sass/main.scss */
ul.icons > li:before {
  position: absolute;
  left: 0;
  top: 2em;
  display: block;
  background: #878787;
  color: #e4e4e4;
  width: 1.65em;
  height: 1.65em;
  border-radius: 1.65em;
  line-height: 1.65em;
  text-align: center;
  box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
}
/* line 279, ../sass/main.scss */
ul.icons > li:first-child {
  padding-top: 0;
}
/* line 282, ../sass/main.scss */
ul.icons > li:first-child:before {
  top: 0;
}

/* line 291, ../sass/main.scss */
ol.default {
  list-style: decimal;
  margin-left: 1em;
}
/* line 295, ../sass/main.scss */
ol.default li {
  padding-left: 0.5em;
  margin: 0.75em 0 0.75em 0;
}
/* line 299, ../sass/main.scss */
ol.default li:first-child {
  margin-top: 0;
}

/* Form */
/* line 309, ../sass/main.scss */
form label {
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
  display: block;
  margin: 0 0 1em 0;
}
/* line 317, ../sass/main.scss */
form input[type="text"],
form input[type="email"]
input[type="password"],
form select,
form textarea, form #Field4 {
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  -webkit-appearance: none;
  display: block;
  border: 0;
  background: #e8e8e8;
  width: 100%;
  box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  line-height: 1.25em;
  padding: 0.75em 1em 0.75em 1em;
}
/* line 333, ../sass/main.scss */
form input[type="text"]:focus,
form input[type="email"]
input[type="password"]:focus,
form select:focus,
form textarea:focus, form #Field4:focus {
  background: #f0f0f0;
}
/* line 338, ../sass/main.scss */
form textarea {
  min-height: 11em;
}
/* line 342, ../sass/main.scss */
form .formerize-placeholder {
  color: #555 !important;
}
/* line 346, ../sass/main.scss */
form ::-webkit-input-placeholder {
  color: #555 !important;
  line-height: 1.35em;
}
/* line 351, ../sass/main.scss */
form :-moz-placeholder {
  color: #555 !important;
}
/* line 355, ../sass/main.scss */
form ::-moz-placeholder {
  color: #555 !important;
}
/* line 359, ../sass/main.scss */
form :-ms-input-placeholder {
  color: #555 !important;
}
/* line 363, ../sass/main.scss */
form ::-moz-focus-inner {
  border: 0;
}

/* Table */
/* line 370, ../sass/main.scss */
table {
  width: 100%;
}
/* line 373, ../sass/main.scss */
table.default {
  width: 100%;
}
/* line 377, ../sass/main.scss */
table.default tbody tr {
  border-top: solid 1px #E5E5E5;
}
/* line 380, ../sass/main.scss */
table.default tbody tr:first-child {
  border-top: 0;
}
/* line 386, ../sass/main.scss */
table.default td {
  padding: 0.75em 1em 0.75em 1em;
}
/* line 390, ../sass/main.scss */
table.default th {
  text-align: left;
  font-weight: bold;
  padding: 0.75em 1em 0.75em 1em;
}
/* line 396, ../sass/main.scss */
table.default thead {
  background: #878787;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  border: 0;
  box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
}
/* line 405, ../sass/main.scss */
table.default tfoot {
  background: #F0F0F0;
  border-top: solid 2px #E5E5E5;
}

/* Button */
/* line 414, ../sass/main.scss */
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  background: #ed786a;
  color: #fff !important;
  text-transform: uppercase;
  border-radius: 4px;
  border: 0;
  outline: 0;
  font-size: 1em;
  box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
  font-weight: 600;
  text-align: center;
}
/* line 435, ../sass/main.scss */
input[type="button"].icon:before,
input[type="submit"].icon:before,
input[type="reset"].icon:before,
button.icon:before,
.button.icon:before {
  position: relative;
  padding-right: 0.75em;
  opacity: 0.5;
  top: 0.05em;
}
/* line 443, ../sass/main.scss */
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
  background: #fd887a;
}
/* line 447, ../sass/main.scss */
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active,
.button:active {
  background: #ed786a;
}
/* line 451, ../sass/main.scss */
input[type="button"].alt,
input[type="submit"].alt,
input[type="reset"].alt,
button.alt,
.button.alt {
  background: #878787;
}
/* line 454, ../sass/main.scss */
input[type="button"].alt:hover,
input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
button.alt:hover,
.button.alt:hover {
  background: #979797;
}
/* line 458, ../sass/main.scss */
input[type="button"].alt:active,
input[type="submit"].alt:active,
input[type="reset"].alt:active,
button.alt:active,
.button.alt:active {
  background: #878787;
}

/* Box */
/* line 468, ../sass/main.scss */
.box .excerpt .date {
  background: #878787;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
  border: 0;
  box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
}

/* Icons */
/* line 482, ../sass/main.scss */
.icon {
  position: relative;
  text-decoration: none;
}
/* line 486, ../sass/main.scss */
.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
/* line 495, ../sass/main.scss */
.icon > .label {
  display: none;
}

/* Wrappers */
/* line 502, ../sass/main.scss */
#header-wrapper {
  position: relative;
  background: #fff;
  text-align: center;
}
/* line 507, ../sass/main.scss */
#header-wrapper p {
  text-align: center;
}

/* line 512, ../sass/main.scss */
#banner-wrapper {
  position: relative;
  overflow: hidden;
  background: #fff;
  color: #fff;
  text-align: center;
}
/* line 519, ../sass/main.scss */
#banner-wrapper .inner {
  background: url("../../images/banner.jpg");
  background-size: cover;
}
/* line 524, ../sass/main.scss */
#banner-wrapper p {
  text-align: center;
}

/* line 529, ../sass/main.scss */
#features-wrapper {
  position: relative;
  overflow: hidden;
  background: #fff;
  text-align: center;
}
/* line 535, ../sass/main.scss */
#features-wrapper p {
  text-align: center;
}
/* line 539, ../sass/main.scss */
#features-wrapper .actions {
  margin-top: 1.25em;
}

/* line 544, ../sass/main.scss */
#main-wrapper {
  position: relative;
  overflow: hidden;
  background: #fff;
}

/* line 550, ../sass/main.scss */
#footer-wrapper {
  position: relative;
  overflow: hidden;
  border-top: solid 2px #e5e5e5;
  background: #f0f0f0;
}
/* line 557, ../sass/main.scss */
#footer-wrapper form input[type="text"],
#footer-wrapper form input[type="email"],
#footer-wrapper form input[type="password"],
#footer-wrapper form select,
#footer-wrapper form textarea {
  background: #f7f7f7;
}
/* line 564, ../sass/main.scss */
#footer-wrapper form input[type="text"]:focus,
#footer-wrapper form input[type="email"]:focus,
#footer-wrapper form input[type="password"]:focus,
#footer-wrapper form select:focus,
#footer-wrapper form textarea:focus {
  background: #fff;
}
/* line 570, ../sass/main.scss */
#footer-wrapper h2 {
  text-align: center;
}

/* Header */
/* line 577, ../sass/main.scss */
#header {
  position: relative;
}
/* line 580, ../sass/main.scss */
#header h1 {
  font-family: 'Arvo';
  font-weight: 700;
  color: #ed786a;
  text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
}
/* line 586, ../sass/main.scss */
#header h1 a {
  border: 0;
}
/* line 591, ../sass/main.scss */
#header p {
  text-transform: uppercase;
  color: #888;
}
/* line 595, ../sass/main.scss */
#header p.site-title {
  margin: 1.5em 0px 0px;
  font-family: 'roboto';
}

/* new nav */
/* line 607, ../sass/main.scss */
.main-menu a {
  font-family: 'roboto';
  font-size: 12px;
  border-bottom: none;
}

/* Nav */
/* line 619, ../sass/main.scss */
#nav {
  cursor: default;
}
/* line 623, ../sass/main.scss */
#nav > ul > li > a {
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #777;
  outline: 0;
}
/* line 631, ../sass/main.scss */
#nav > ul > li > a:before {
  display: inline-block;
  background: #878787;
  color: #e4e4e4;
  width: 1.65em;
  height: 1.65em;
  border-radius: 1.65em;
  line-height: 1.65em;
  text-align: center;
  box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
  margin-right: 0.75em;
  -moz-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
  transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
}
/* line 649, ../sass/main.scss */
#nav > ul > li > a > span {
  -moz-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
/* line 658, ../sass/main.scss */
#nav > ul > li.active > a:before, #nav > ul > li:hover > a:before {
  background: #ED786A;
  color: #fff;
}
/* line 664, ../sass/main.scss */
#nav > ul > li.active > a > span, #nav > ul > li:hover > a > span {
  color: #ED786A;
}

/* Features */
/* line 674, ../sass/main.scss */
#features {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 15px;
  padding: 0px;
}
/* line 681, ../sass/main.scss */
#features section {
  background: #ebf0f9;
  max-width: 550px;
  margin-bottom: 50px;
}
/* line 685, ../sass/main.scss */
#features section p {
  padding: 0 30px;
}

/* Project Pages */
/* line 694, ../sass/main.scss */
.project-header {
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  height: 400px;
}
/* line 701, ../sass/main.scss */
.project-header.risbridger {
  background-image: url("../../images/risbridger/risbridger-bg.jpg");
}
/* line 702, ../sass/main.scss */
.project-header.streetswell {
  background-image: url("../../images/streetswell/streetswell-bg.jpg");
}
/* line 705, ../sass/main.scss */
.project-header .container h3.project-title {
  float: left;
  font-family: Roboto, sans-serif;
  font-size: 1.3em;
  color: #fff;
  padding-top: 30px;
}
/* line 711, ../sass/main.scss */
.project-header .container h3.project-title .pr {
  color: #b9c4d7;
}
/* line 716, ../sass/main.scss */
.project-header .container img.project-silo {
  float: right;
  padding-top: 60px;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

/* line 726, ../sass/main.scss */
.project-content {
  clear: both;
}
/* line 728, ../sass/main.scss */
.project-content .content {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2em;
}

/* Banner */
/* line 742, ../sass/main.scss */
#banner {
  position: relative;
}
/* line 746, ../sass/main.scss */
#banner strong {
  color: inherit;
}

/* Content */
/* line 754, ../sass/main.scss */
#content > section,
#content > article {
  border-top: solid 2px #e5e5e5;
  box-shadow: inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
}
/* line 759, ../sass/main.scss */
#content > section:first-child,
#content > article:first-child {
  border-top: 0;
  box-shadow: none;
}

/* Sidebar */
/* line 769, ../sass/main.scss */
#sidebar > section,
#sidebar > article {
  border-top: solid 2px #e5e5e5;
  box-shadow: inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
}
/* line 774, ../sass/main.scss */
#sidebar > section:first-child,
#sidebar > article:first-child {
  border-top: 0;
  box-shadow: none;
}

/* Copyright */
/* line 783, ../sass/main.scss */
#copyright {
  border-top: solid 2px #e5e5e5;
  text-align: center;
}

/* Desktop */
@media screen and (min-width: 900px) {
  /* Basic */
  /* line 796, ../sass/main.scss */
  body, input, textarea, select {
    line-height: 1.6em;
    font-size: 1.2em;
  }

  /* line 801, ../sass/main.scss */
  h2 {
    font-size: 2em;
    letter-spacing: 0px;
    margin: 0 0 0.2em 0;
    line-height: 1.6em;
  }

  /* line 808, ../sass/main.scss */
  h3 {
    font-size: 1em;
    letter-spacing: 2px;
    margin: 0 0 1.25em 0;
  }

  /* Table */
  /* line 818, ../sass/main.scss */
  table.default thead {
    font-size: 0.85em;
    letter-spacing: 2px;
  }

  /* Button */
  /* line 827, ../sass/main.scss */
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button,
  .button {
    font-size: 0.85em;
    letter-spacing: 2px;
    padding: 0.85em 2.75em 0.85em 2.75em;
  }

  /* List */
  /* line 841, ../sass/main.scss */
  ul.actions li {
    display: inline-block;
    margin-left: 1em;
  }
  /* line 845, ../sass/main.scss */
  ul.actions li:first-child {
    margin-left: 0;
  }
  /* line 852, ../sass/main.scss */
  ul.divided li {
    margin: 2.5em 0 0 0;
    padding: 2.5em 0 0 0;
  }

  /* Box */
  /* line 863, ../sass/main.scss */
  .no-sidebar .box .post > header {
    text-align: center;
  }
  /* line 869, ../sass/main.scss */
  .box.excerpt .date {
    display: inline-block;
    font-size: 0.85em;
    letter-spacing: 2px;
    padding: 0.25em 1em 0.25em 1em;
    margin: 0 0 2.5em 0;
  }

  /* Wrappers */
  /* line 884, ../sass/main.scss */
  #features-wrapper {
    padding: 6em 0 6em 0;
  }

  /* line 888, ../sass/main.scss */
  #banner-wrapper {
    padding: 0;
    clear: both;
  }

  /* line 893, ../sass/main.scss */
  #main-wrapper {
    padding: 6em 0 6em 0;
  }

  /* line 897, ../sass/main.scss */
  #footer-wrapper {
    padding: 6em 0 2em 0;
  }

  /* Header */
  /* line 903, ../sass/main.scss */
  #header {
    padding: 5em 0 3em 0;
  }
  /* line 906, ../sass/main.scss */
  #header h1 {
    font-size: 3em;
    letter-spacing: 13px;
  }
  /* line 911, ../sass/main.scss */
  #header p {
    margin: 2.5em 0 0 0;
    font-size: 0.85em;
    letter-spacing: 3px;
  }
  /* line 916, ../sass/main.scss */
  #header p.site-title {
    font-family: 'roboto';
  }

  /* Nav */
  /* line 923, ../sass/main.scss */
  #nav {
    position: absolute;
    top: 3em;
    left: 0;
    width: 100%;
  }
  /* line 930, ../sass/main.scss */
  #nav > ul > li {
    display: inline-block;
    padding-right: 2em;
  }
  /* line 934, ../sass/main.scss */
  #nav > ul > li:last-child {
    padding-right: 0;
  }
  /* line 938, ../sass/main.scss */
  #nav > ul > li > a {
    display: block;
  }
  /* line 940, ../sass/main.scss */
  #nav > ul > li > a > span {
    font-size: 0.85em;
    letter-spacing: 3px;
  }
  /* line 946, ../sass/main.scss */
  #nav > ul > li > ul {
    display: none;
  }

  /* line 953, ../sass/main.scss */
  .dropotron {
    text-align: left;
    border: solid 1px #e5e5e5;
    border-radius: 4px;
    background: #fff;
    background: rgba(255, 255, 255, 0.965);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    padding: 0.75em 0 0.5em 0;
    min-width: 12em;
    margin-top: calc(-0.5em + 1px);
    margin-left: -2px;
  }
  /* line 965, ../sass/main.scss */
  .dropotron.level-0 {
    margin-top: 1.5em;
    margin-left: -1em;
  }
  /* line 969, ../sass/main.scss */
  .dropotron.level-0:after {
    content: '';
    display: block;
    position: absolute;
    left: 1.25em;
    top: calc(-0.75em + 1px);
    border-left: solid 0.75em rgba(255, 255, 255, 0);
    border-right: solid 0.75em rgba(255, 255, 255, 0);
    border-bottom: solid 0.75em #fff;
  }
  /* line 980, ../sass/main.scss */
  .dropotron.level-0:before {
    content: '';
    display: block;
    position: absolute;
    left: 1.25em;
    top: -0.75em;
    border-left: solid 0.75em rgba(255, 255, 255, 0);
    border-right: solid 0.75em rgba(255, 255, 255, 0);
    border-bottom: solid 0.75em #ccc;
  }
  /* line 992, ../sass/main.scss */
  .dropotron span, .dropotron a {
    display: block;
    padding: 0.3em 1em 0.3em 1em;
    border: 0;
    border-top: solid 1px #f0f0f0;
    outline: 0;
  }
  /* line 1002, ../sass/main.scss */
  .dropotron li:first-child > span, .dropotron li:first-child > a {
    border-top: 0;
    padding-top: 0;
  }
  /* line 1009, ../sass/main.scss */
  .dropotron li:hover > span, .dropotron li:hover > a {
    -moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
    color: #ed786a;
  }

  /* Banner */
  /* line 1019, ../sass/main.scss */
  #banner {
    padding: 10em 0 10em 0;
  }
  /* line 1022, ../sass/main.scss */
  #banner p {
    font-size: 1.1em;
    line-height: 1.4em;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  /* line 1029, ../sass/main.scss */
  #banner:before, #banner:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 35px;
    height: 141px;
    margin-top: -70px;
    background: url("images/bracket.svg");
    opacity: 0.15;
  }
  /* line 1041, ../sass/main.scss */
  #banner:before {
    left: 0;
  }
  /* line 1045, ../sass/main.scss */
  #banner:after {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    right: 0;
  }

  /* Content */
  /* line 1054, ../sass/main.scss */
  #content > > section,
  #content > > article {
    margin: 5em 0 0 0;
    padding: 5em 0 0 0;
  }
  /* line 1059, ../sass/main.scss */
  #content > > section:first-child,
  #content > > article:first-child {
    margin: 0;
    padding: 0;
  }

  /* Sidebar */
  /* line 1069, ../sass/main.scss */
  #sidebar > section,
  #sidebar > article {
    margin: 5em 0 0 0;
    padding: 5em 0 0 0;
  }
  /* line 1074, ../sass/main.scss */
  #sidebar > section:first-child,
  #sidebar > article:first-child {
    margin: 0;
    padding: 0;
  }

  /* Copyright */
  /* line 1083, ../sass/main.scss */
  #copyright {
    margin-top: 6em;
    padding-top: 2em;
  }
}
/* Tablet */
@media screen and (min-width: 900px) and (max-width: 1200px) {
  /* Basic */
  /* line 1096, ../sass/main.scss */
  body {
    min-width: 960px;
    line-height: 1.75em;
    font-size: 12pt;
  }

  /* line 1102, ../sass/main.scss */
  input, textarea, select {
    line-height: 1.75em;
    font-size: 12pt;
  }

  /* line 1107, ../sass/main.scss */
  h2 {
    margin: 0 0 1em 0;
    font-size: 1.5em;
  }

  /* line 1112, ../sass/main.scss */
  h3 {
    margin: 0 0 1em 0;
  }

  /* line 1116, ../sass/main.scss */
  h2 br, h3 br, h4 br, h5 br, h6 br {
    display: none;
  }

  /* Image */
  /* line 1125, ../sass/main.scss */
  .image.featured {
    margin: 0 0 2.5em 0;
  }

  /* Wrappers */
  /* line 1134, ../sass/main.scss */
  #features-wrapper {
    padding: 4em 0 4em 0;
  }

  /* line 1138, ../sass/main.scss */
  #banner-wrapper {
    padding: 0;
  }

  /* line 1142, ../sass/main.scss */
  #main-wrapper {
    padding: 4em 0 4em 0;
  }

  /* line 1146, ../sass/main.scss */
  #footer-wrapper {
    padding: 4em 0 0em 0;
  }

  /* Header */
  /* line 1152, ../sass/main.scss */
  #header {
    padding: 9em 0 4em 0;
  }
  /* line 1155, ../sass/main.scss */
  #header h1 {
    font-size: 2em;
  }
  /* line 1158, ../sass/main.scss */
  #header p {
    margin: 1.5em 0 0 0;
  }

  /* Nav */
  /* line 1167, ../sass/main.scss */
  #nav > ul > li {
    padding-right: 1.25em;
  }

  /* Banner */
  /* line 1175, ../sass/main.scss */
  #banner {
    padding: 7em 0 7em 0;
  }

  /* Copyright */
  /* line 1181, ../sass/main.scss */
  #copyright {
    margin-top: 5em;
    padding-top: 2em;
  }
}
/* Mobile */
/* line 1192, ../sass/main.scss */
#navPanel, #titleBar {
  display: none;
}

@media screen and (max-width: 900px) {
  /* Basic */
  /* line 1200, ../sass/main.scss */
  html, body {
    overflow-x: hidden;
  }

  /* line 1204, ../sass/main.scss */
  body, input, textarea, select {
    line-height: 1.75em;
    font-size: 11pt;
    letter-spacing: 0;
  }

  /* line 1210, ../sass/main.scss */
  h2, h3, h4, h5, h6 {
    font-size: 1.2em;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 0 1.5em 0;
  }
  /* line 1216, ../sass/main.scss */
  h2 br, h3 br, h4 br, h5 br, h6 br {
    display: none;
  }

  /* line 1220, ../sass/main.scss */
  .container {
    padding: 0 10px;
  }

  /* Sections/Article */
  /* line 1226, ../sass/main.scss */
  section, article {
    clear: both;
    margin: 2em 0 2em 0 !important;
  }
  /* line 1230, ../sass/main.scss */
  section > :first-child, section:first-child, article > :first-child, article:first-child {
    margin-top: 0 !important;
  }

  /* line 1237, ../sass/main.scss */
  #banner p {
    font-size: 1.2em !important;
  }

  /* line 1242, ../sass/main.scss */
  .project-header .container h3.project-title {
    float: none;
  }

  /* Image */
  /* line 1249, ../sass/main.scss */
  .image.left {
    width: 40%;
  }
  /* line 1253, ../sass/main.scss */
  .image.featured {
    margin: 0 0 2em 0;
  }

  /* line 1258, ../sass/main.scss */
  img.project-silo {
    float: left;
    width: 100%;
    height: auto;
    max-width: 768px;
  }

  /* Button */
  /* line 1267, ../sass/main.scss */
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button,
  .button {
    letter-spacing: 2px;
    display: block;
    padding: 1em;
  }

  /* List */
  /* line 1281, ../sass/main.scss */
  ul.links li {
    display: block;
    border: 0;
    padding: 0.25em 0 0 0;
    margin: 0;
  }
  /* line 1290, ../sass/main.scss */
  ul.divided li {
    margin: 2.75em 0 0 0;
    padding: 2.75em 0 0 0;
  }
  /* line 1296, ../sass/main.scss */
  ul.icons {
    padding: 0 !important;
    margin: 0 0 0.5em 0 !important;
  }

  /* Box */
  /* line 1306, ../sass/main.scss */
  .box.excerpt .date {
    display: block;
    letter-spacing: 2px;
    padding: 0.25em 1em 0.25em 1em;
    margin: 0 auto 2.5em auto;
    text-align: center;
  }

  /* Off-Canvas Navigation */
  /* line 1318, ../sass/main.scss */
  #page-wrapper {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    padding-bottom: 1px;
  }

  /* line 1324, ../sass/main.scss */
  #titleBar {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 44px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
  }
  /* line 1335, ../sass/main.scss */
  #titleBar .toggle {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 60px;
    border: 0;
  }
  /* line 1343, ../sass/main.scss */
  #titleBar .toggle:before {
    display: inline-block;
    font-family: FontAwesome;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f0c9';
    display: block;
    width: 60px;
    height: 40px;
    background: rgba(232, 232, 232, 0.9);
    border-radius: 4px;
    position: absolute;
    left: 5px;
    top: 5px;
    box-shadow: 0.125em 0.125em 0 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: #aaa;
  }
  /* line 1366, ../sass/main.scss */
  #titleBar .toggle:active:before {
    opacity: 0.5;
  }

  /* line 1372, ../sass/main.scss */
  #navPanel {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translateX(-275px);
    -webkit-transform: translateX(-275px);
    -ms-transform: translateX(-275px);
    transform: translateX(-275px);
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 275px;
    z-index: 10002;
    background: #444;
    border-right: solid 2px #3c3c3c;
    font-weight: 400;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 2px;
    font-size: 0.85em;
  }
  /* line 1392, ../sass/main.scss */
  #navPanel .link {
    display: block;
    color: #ddd;
    text-decoration: none;
    height: 44px;
    line-height: 44px;
    border: 0;
    border-top: solid 1px #3c3c3c;
    padding: 0 1em 0 1em;
  }
  /* line 1401, ../sass/main.scss */
  #navPanel .link:first-child {
    border-top: 0;
  }
  /* line 1404, ../sass/main.scss */
  #navPanel .link.depth-0 {
    font-weight: 600;
    color: #fff;
  }
  /* line 1409, ../sass/main.scss */
  #navPanel .indent-1 {
    display: inline-block;
    width: 1em;
  }
  /* line 1413, ../sass/main.scss */
  #navPanel .indent-2 {
    display: inline-block;
    width: 2em;
  }
  /* line 1417, ../sass/main.scss */
  #navPanel .indent-3 {
    display: inline-block;
    width: 3em;
  }
  /* line 1421, ../sass/main.scss */
  #navPanel .indent-4 {
    display: inline-block;
    width: 4em;
  }
  /* line 1425, ../sass/main.scss */
  #navPanel .indent-5 {
    display: inline-block;
    width: 5em;
  }
  /* line 1429, ../sass/main.scss */
  #navPanel .depth-0 {
    color: #fff;
  }

  /* line 1436, ../sass/main.scss */
  body.navPanel-visible #page-wrapper {
    -moz-transform: translateX(275px);
    -webkit-transform: translateX(275px);
    -ms-transform: translateX(275px);
    transform: translateX(275px);
  }
  /* line 1440, ../sass/main.scss */
  body.navPanel-visible #titleBar {
    -moz-transform: translateX(275px);
    -webkit-transform: translateX(275px);
    -ms-transform: translateX(275px);
    transform: translateX(275px);
  }
  /* line 1444, ../sass/main.scss */
  body.navPanel-visible #navPanel {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  /* Wrappers */
  /* line 1452, ../sass/main.scss */
  #header-wrapper {
    padding: 0 20px 0 20px;
  }

  /* line 1456, ../sass/main.scss */
  #features-wrapper {
    padding: 3em 20px 3em 20px;
  }

  /* line 1460, ../sass/main.scss */
  #banner-wrapper {
    padding: 0;
  }

  /* line 1464, ../sass/main.scss */
  #main-wrapper {
    padding: 3em 20px 3em 20px;
  }

  /* line 1468, ../sass/main.scss */
  #footer-wrapper {
    padding: 4em 20px 1em 20px;
  }

  /* Header */
  /* line 1474, ../sass/main.scss */
  #header {
    padding: 6em 0 4em 0;
  }
  /* line 1477, ../sass/main.scss */
  #header h1 {
    font-size: 2em;
    letter-spacing: 8px;
    line-height: 1.25em;
  }
  /* line 1482, ../sass/main.scss */
  #header p {
    margin: 1.25em 0 0 0;
    letter-spacing: 2px;
  }

  /* Nav */
  /* line 1490, ../sass/main.scss */
  #nav {
    display: none;
  }

  /* Banner */
  /* line 1496, ../sass/main.scss */
  #banner {
    padding: 5em 20px 5em 20px;
    margin: 0 !important;
  }
  /* line 1500, ../sass/main.scss */
  #banner p {
    font-size: 1.75em;
    line-height: 1.25em;
  }
  /* line 1504, ../sass/main.scss */
  #banner p br {
    display: none;
  }

  /* Content */
  /* line 1513, ../sass/main.scss */
  #content > section, #content > article {
    margin: 4em 0 0 0 !important;
    padding: 4em 0 0 0 !important;
  }
  /* line 1517, ../sass/main.scss */
  #content > section:first-child, #content > article:first-child {
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Sidebar */
  /* line 1526, ../sass/main.scss */
  #sidebar {
    border-top: solid 2px #e5e5e5;
    box-shadow: inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
    margin-top: 4em !important;
    padding-top: 4em !important;
  }
  /* line 1532, ../sass/main.scss */
  #sidebar > section, #sidebar > article {
    margin: 4em 0 0 0 !important;
    padding: 4em 0 0 0 !important;
  }
  /* line 1536, ../sass/main.scss */
  #sidebar > section:first-child, #sidebar > article:first-child {
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Footer */
  /* line 1546, ../sass/main.scss */
  #footer .icons {
    margin: 0 0 2em 0 !important;
  }
  /* line 1548, ../sass/main.scss */
  #footer .icons:last-child {
    margin-bottom: 0;
  }

  /* Copyright */
  /* line 1556, ../sass/main.scss */
  #copyright {
    margin-top: 2em;
    padding-top: 2em;
  }

  /* line 1561, ../sass/main.scss */
  .project-content ul.actions {
    margin: 30px 60px;
  }
}
/* line 1568, ../sass/main.scss */
.hide {
  display: none;
}
